/*#############################################################
Name: Transparentia
Date: 2006-08-20
Description: Simple, lightweight and slightly blue.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a {
	color: #36C;
}
a:hover {
	color: #06F;
}
body {
	color: #666;
	font: normal 62.5% "verdana",sans-serif;
	margin: 0;
}
input {
	color: #555;
	font: normal 1.1em "verdana",sans-serif;
}
p,cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
h1 {
	font-size: 1.4em;
	margin-bottom: 4px;
}
code {
	background: url(bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #39F;
	color: #555;
	display: block;
	font: normal 1.1em "verdana",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
cite {
	background: url(quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.3em "verdana",serif;
	padding-left: 28px;
}
h1,h2,h3,h4,h5 {
	color: #000000;
	padding-top: 6px;

}




/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
	background: url(bgcont.gif) repeat;
	margin: 0 auto;
	padding-bottom: 6px;
	width: 920px;
}
.header {
	padding: 6px 12px;
	border: 1px solid #EEE;
	background: url(IMG_1257.jpg);
	background-repeat: no-repeat;
  	background-size: auto;	
  	margin-bottom: 8px;
	height: 300px;
}

/* title */
.title h1 {
	color: #000000;
	padding-top: 6px;
	margin-bottom: 5px;
	margin-right: 1px;
	margin-left: 2px;
	text-align: right;
}

.title h2 {
	color: #000000;
	font-size: 1.7em;
	padding-top: 3px;
	margin-bottom: 3px;
	margin-right: 1px;
	margin-left: 2px;
	text-align: left;
}

/* navigation */
.navigation {
	margin-bottom: 4px;
}
.navigation a {
	background-color: #4A91C3;
	color: #FFF;
	float: left;
	font: bold 1.2em "Trebuchet MS",sans-serif;
	padding: 8px 0;
	width: 23%;
	border-right: 1px solid #FFF;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	background-color: #000;
	color: #FFF;
}

/* main */
.main {
	clear: both;
	padding: 8px 18px;
}

/* main left */
.sidenav h1,.sidenav ul {
	padding-left: 12px;
}
.sidenav {
	background: #EEE;
	border: 1px solid #E5E5E5;
	float: left;
	width: 200px;
}
.sidenav h1 {
	color: #000000;
	font-size: 1.4em;
	height: 10px;
	margin-top: .5em;
	margin-bottom: 1em;
}

.sidenav a {
	color: #000000;
	display: block;
	text-decoration: none;
}

.sidenav ul {
	border-top: 1px solid #FAFAFA;
	background: url(bgul.gif) repeat-x;
	margin: 1;
	padding: 1;
}
.sidenav li {
	border: 1px solid #FAFAFA;
	border-top: none;
	list-style: none;
	margin: 1;
}
.sidenav li a {
	color: #000000;
	display: block;
	font-size: 0.9em;
	padding: 3px 6px 3px 14px;
	text-decoration: none;
}
.sidenav a:hover {
	color: #111;
}

/* overview */

.contentabstract {
	float: center;
	margin-left: 10px;
	margin-right: 10px;
	width: 864px;
}

.contentabstract .item1 {
	padding: 6px 12px;
	border: 1px solid #EEE;
	background: #F8F8F8;
	margin-bottom: 6px;
	text-align: justify;
}

.contentabstract h2 {
	margin-left: 10px;
	padding-bottom: 1em;
	border: 1px solid #FAFAFA;
	border-top: none;
	list-style: none;
	margin: 1;
}

.contentabstract h4 {
	margin-left: 10px;
	font-size: 1em;
	font: normal 120% "verdana",sans-serif;
	padding-bottom: 1em;
	border: 1px solid #FAFAFA;
	border-top: none;
	list-style: none;
	margin: 1;
}

.contentabstract h5 {
	margin-left: 30px;
	font-size: 1em;
	font: normal 120% "verdana",sans-serif;
	padding-bottom: 1em;
	border: 1px solid #FAFAFA;
	border-top: none;
	list-style: none;
	margin: 1;
}

.contentabstract h4 a {
	color: #000000;
}
.contentabstract h2 a {
	color: #000000;
}

/* content */
.content {
	margin: 0 auto;
	padding-bottom: 6px;
	width: 920px;
}


.content .item {
	padding: 6px 12px;
	border: 1px solid #EEE;
	background: #F8F8F8;
	margin-bottom: 8px;
	text-align: justify;
}


.content h3 {
	color: #000000;
	display: block;
	text-decoration: none;
}

.content h4 {
	margin-left: 10px;
	font-size: 1em;
	font: normal 110% "verdana",sans-serif;
	padding-bottom: 1em;
	border: 1px solid #FAFAFA;
	border-top: none;
	list-style: none;
	margin: 1;
}


.content .mail {
	color: #000000;
	font: normal 1.2em Verdana,sans-serif;
	display: block;
	text-decoration: none;
}

.content a {
	color: #033DA2;
	text-decoration: none;
}

.content .descr {
	color: #000000;
	margin-bottom: 6px;
}

.content li {
	color: #000000;
	margin-left: 18px;
	font-size: 1em;
	padding-bottom: 1em;
}

.content li2 {
	color: #000000;
	margin-left: 30px;
	font-size: 1em;
}

/* search form */
form {
	padding: 0 0 6px 8px;
}
.styled {
	border: 1px solid #DDD;
	padding: 4px;
}
.button {
	background: url(search.gif) no-repeat left bottom;
	border: none;
	height: 27px;
	width: 27px;
}

/* footer */
.footer {
	background: #FFF;
	border: 1px solid #EEE;
	color: #666;
	font-size: 1.1em;
	margin: 0 auto;
	text-align: center;
	padding: 6px;
	width: 864px;
}
.footer a {
	color: #36C;
	text-decoration: none;
}
.footer a:hover {
	color: #06F;
	text-decoration: underline;
}
